<div class="wp-importer">
	<p>インポートを更新します。</p>
	<form action="about:blank" method="post">
		<p>インポートファイル: <label class="px2-btn"><input type="file" name="wp-importer__import-file" value="" /></label></p>
		<p>プレビュー: <div class="wp-importer__preview"></div></p>

		<p><button type="submit" class="px2-btn px2-btn--primary">インポート</button></p>
	</form>
</div>
